* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  background: #fff;
  width: 100%;
  height: 100%;
}

main {
  height: 80%;
}

a {
  font-family: "IBM Plex Sans", sans-serif;
  color: #060a24;
}
a:hover {
  color: #00f3bb;
}
a:active,
a:visited {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}
p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
  color: #060a24;
  margin-bottom: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
  color: #060a24;
}
h1,
h2 {
  font-size: 36px;
  line-height: 42px;
}
h3 {
  font-size: 24px;
  line-height: normal;
  font-weight: 600;
}

/* HEADER */

header .logo img {
  width: 24px;
  height: auto;
  display: block;
}

header .menu .menu-link a {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
}
header .menu .menu-link a:hover {
  color: #27ae60;
  text-decoration: line-through;
}
/* FIN HEADER */

/* MAIN */

.imgcruz {
  padding: 1rem;
  width: 300px;
  height: 200px;
}

footer {
  padding-top: 24px;
  padding-bottom: 30px;
}

footer .footer_container .footer_social a i {
  font-size: 16px;
  line-height: 28px;
}
/* FIN FOOTER */

/* === RESPONSIVE === */
header .menu .menu-link a {
  color: #060a24;
  padding-left: 48px;
  font-weight: 400;
}
header .logo img {
  width: 60px;
  height: auto;
  padding: 22px 0;
}
a.button {
  font-size: 18px;
  line-height: 24px;
  min-height: 56px;
}

#inicio .inicio_title {
  font-size: 64px;
  line-height: 84px;
  max-width: 80%;
}
#inicio .inicio_subtitle {
  font-size: 16px;
  line-height: 24px;
  max-width: 628px;
}
#inicio .inicio_title span.laptop {
  color: #16a085;
}

.transition {
  background-image: -webkit-linear-gradient(225deg, #8e44ad 0%, #2980b9 100%);
  padding: 180px 0 170px;
  /* -webkit-clip-path: polygon(0% 14%, 100% 0%, 100% 86%, 0% 100%); */
  clip-path: polygon(0 8%, 100% 0, 100% 88%, 0 100%);
  transition: all 5s;
}

.transition:hover {
  background-image: -webkit-linear-gradient(225deg, #2ecc71 0%, #34495e 100%);
  clip-path: polygon(0 8%, 100% 0, 100% 88%, 0 95%);
}

footer {
  padding-top: 30px;
}

footer .footer_container .footer_social a i {
  font-size: 18px;
}

.animate__animated.animate__bounceInLeft {
  --animate-duration: 4000ms;
  --animate-delay: 0.9s;
}

.animate__animated.animate__backInRight {
  --animate-duration: 2000ms;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 2000ms;
}

@media screen and (max-width: 767px) {
  .logo {
    display: none;
  }
}
