.row-acerca {
  background-color: #7510f7;
  padding: 50px;
}

.row {
  .fs-2 {
    color: white;
    font-weight: 800;
    font-family: "IBM Plex Sans", sans-serif;
  }

  .text-acerca {
    color: #fff;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 100;
    line-height: 1.5;
    text-align: justify;
  }
}
