header {
  & .logo img {
    width: 24px;
    height: auto;
    display: block;
  }

  & .menu .menu-link a {
    color: #060a24;
    padding-left: 48px;
    font-weight: 400;
  }
  & .logo img {
    width: 60px;
    height: auto;
    padding: 22px 0;
  }
  & .menu .menu-link a:hover {
    color: #27ae60;
    text-decoration: line-through;
  }
}

// HEADER RESPONSIVE //@
