@mixin fontoptions($size, $line, $maxwidth) {
  font-size: $size;
  line-height: $line;
  max-width: $maxwidth;
}

#inicio {
  .animate__animated.animate__bounceInLeft {
    --animate-duration: 4000ms;
    --animate-delay: 0.9s;
  }

  .animate__animated.animate__backInRight {
    --animate-duration: 2000ms;
  }

  .animate__animated.animate__fadeInUp {
    --animate-duration: 2000ms;
  }

  & .inicio_title {
    @include fontoptions(64px, 84px, 80%);
  }
  & .inicio_subtitle {
    @include fontoptions(16px, 24px, 628px);
  }
  & .inicio_title span.laptop {
    @extend .inicio_title;
    color: #16a085;
  }
}
