@media screen and (min-width: 768px) {
  div .is-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  div .is-desktop {
    display: none;
  }
  div .is-mobile {
    display: block;
  }
}
