@import "header";
@import "footer";
@import "media";
@import "inicio";
@import "acerca";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background: #fff;
  width: 100%;
  height: 100%;
}
section {
  height: 100%;
}

main {
  height: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
  color: #060a24;
}
h1,
h2 {
  font-size: 36px;
  line-height: 42px;
}
h3 {
  font-size: 24px;
  line-height: normal;
  font-weight: 600;
}
